/**BODY**/

.nopadding{
    padding: 0px;
}

.nomargin{
    margin: 0px;
  }

html, body{
    font-family: 'Slabo 27px', serif;
    padding: 0px;
    width: 100%;
    height: 100%;
}


/*Navigation Bar*/


div.button {
	display:inline;
	position:absolute;
	top:6px;
	z-index:999;
	font-size:30px;
    text-decoration: none;
    padding: 20px
}

.button a {
	text-decoration:none;
    color: #fff;
}



/**Section-One**/
.Section1{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#Wrapper{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.Top{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/**Header Section**/

#Header{
    background: url(../img/backgrounds/landing.jpg) no-repeat center fixed;
    width: 100%;
    height: 76.5%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align:center;
    display: flex;
}


#logo{
    margin:auto;
    position: relative;
    width:50%;
    text-align: center;
}
#heading{
    margin: auto;
    width: 100%;
}

img.icon{
    text-align: center;
    padding:10px 0 10px 0;
    min-width: 150px;
    min-height: 150px;
    margin: 0 auto;
    max-height: 210px;
    margin-bottom: 10px;
}

.tagline{
    text-align: center;
    width: 68%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

h1{
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 28px;
    padding-bottom: 10px;
}


#menu{
    height:23.5%;
    padding: 0px;
    margin: 0px;
}

.blockone{
    height: 155px;
}

#Happy-Hour{
    background-color: #d8d8d8;
    width:100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    display: flex;
    height: 50%;
}
#Happy-Hour a{
    color: #454545; 
}

#PartyTime{
    background-color: #F15A29;
    height: 50%;
    width: 100%
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    display: flex;
}

#PartyTime a{
    color: #fff; 
}

#PartyTime>h2,#Happy-Hour>h2{
    font-size: 24px;
    margin: auto;
    text-decoration: none;
}


.breakfast{
    background-image: url(../img/foodtop/breakfast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    z-index: 1px;
    height: 155px;
}

.lunch{
    background-image: url(../img/foodtop/lunch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    z-index: 1px;
    min-height: 155px;
}
.lunch:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
}
.dinner{
    background-image: url(../img/foodtop/dinner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    z-index: 1px;
    min-height: 155px;
}

.breakfast>h4, .lunch>h4, .dinner>h4 {
    margin:auto;
    text-align: center;
    color:#fff;
    font-style: italic;
}

.breakfast:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
}

.dinner:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
}


/*Second Body*/
.SecondBody{
    padding:75px 200px 75px 200px;
    overflow: auto;
}

.fast-food{
    padding-bottom: 30px;
}

.combinedfoodimage{
    border: 10px solid #fff;
    padding: 1px 1px 1px 1px;
    box-shadow: 1px 1px 5px 4px #E3E3E3;
}
.foodtext{
    padding-left: 50px;
    min-height: 390px;
}
.drinks-img{
    border: 10px solid #fff;
    padding: 1px 1px 1px 1px;
	box-shadow: -1px 1px 5px 4px #E3E3E3;
}

.drinkstext{
    padding-right: 50px;
    text-align: right;
}
.food-drink h2{
    margin: 0px;
    font-weight: bold;
}

.food-drink button{
    color: #F15A29;
    background: none;
    border: 1px solid #F15A29;
    font-size: 12pt;
    letter-spacing: 1px;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
}

.food-drink button:hover {
    color: #F15A29;
    background: none;
    border: 1px solid #F15A29;
}



/*ThirdBody*/
.ThirdBody {
    background: url(../img/backgrounds/foodsBg.jpg) no-repeat center fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
}

#MenuTab{
    padding: 0px 200px 0px 200px;
    border: 0pt;
    margin: auto;
}

#Menutable{
    background: #FFFFFF;
    color:  #F15A29;
    width: 100%;
}

ul .nav .nav-tabs{
    border: 0px;
}

#MenuTab .nav li {
    background-color: #d3d3d3;
    color: #fff;
    list-style: none;
    line-height: 100px;
    float: left;
    text-align: center;
    width: 25%;
    border: 0px;
}
td span.glyphicon {
    color: #F15A29; 
    padding-top:100px  
}

li a:active{
    color: #F15A29;
    text-decoration: none;
    border: 0pt;
}

td p{
    text-align: center;
    line-height: 2px;
}


/*FourthSection*/
#Testimony{
    padding: 75px 200px 75px 200px;
}
#Testimony .row {
    border: 10px solid #fff;
    box-shadow: -1px 1px 5px 4px #E3E3E3;
    padding: 20px;
    text-align: center; 
}

.about-menu{
    border-left: 2px solid #E3E3E3;
}

#Subscribe{
    background: url(../img/backgrounds/subscribe.jpg) no-repeat center fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    min-height: 300px;
    text-align: center;
    color: #fff;
    display: flex;
}

#Footer{
    background-color:#F15A29;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.Footer img{
    padding-right:10px;
    padding-left: ;
}

#FooterLogo{
   font-size: 1.3em;   
}
#FooterLogo h3{
    font-size: 1.5em;
    padding-right: 10px;
}




